@import "tailwindcss";

.red-hat-display {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300 - 900;
  font-style: normal;
}


body {
    background-color: #f0fafb;
    font-family: "Red Hat Display", sans-serif;
}

